@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 1 0 0; /* oklch value in L C H (not inside oklch()) */
    --foreground: 0.129 0.042 264.695;
    --border: 0.929 0.013 255.508;
    --input: 0.929 0.013 255.508;
    --ring: 0.704 0.04 256.788;
    /* Add other vars if needed */
  }
  
  .dark {
    --background: 0.129 0.042 264.695;
    --foreground: 0.984 0.003 247.858;
    /* ... */
  }
  
}



@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .gradient {
    @apply bg-gradient-to-br from-gray-500 via-gray-200 to-white;
  }
  .gradient-title {
    @apply gradient text-transparent bg-clip-text;
  }
}
.wmde-markdown ul {
  list-style-type: disc;
  padding-left: 25px;
  color: white;
}
/* Add to your global styles */
.wmde-markdown {
  background-color: #011532;
  color: white;
}
.wmde-markdown pre {
  background-color: #1f2937;
}